<h2>Canh A = <%= canhA%></h2>
<h2>Canh B = <%= canhB%></h2>
<h2>Canh C = <%= canhC%></h2>

<% if(canhA+canhB>canhC 
		&& canhA+canhC>canhB 
		&& canhB+canhC>canhA){ 
	%>
	<h1>Có hình thành tam giác</h1>
<%
	}
%>